chromadb==0.5.2 ; python_full_version > "3.9.7" and python_version < "3.13"
langchain-community==0.2.5 ; python_full_version > "3.9.7" and python_version < "3.13"
st-pages==0.4.5 ; python_full_version > "3.9.7" and python_version < "3.13"
streamlit-authenticator==0.3.2 ; python_full_version > "3.9.7" and python_version < "3.13"
langchain-cohere==0.1.8 ; python_full_version > "3.9.7" and python_version < "3.13"
python-dotenv==1.0.1 ; python_full_version > "3.9.7" and python_version < "3.13"
pymupdf==1.24.5 ; python_full_version > "3.9.7" and python_version < "3.13"
